@import "~bootstrap/scss/bootstrap";

.App {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
  }

  .btn.list-group-item {
    border: 1px solid lightgray;
    margin-bottom: -1px;
    border-radius: 0;
  }

  label {
    margin-bottom: 0;
    margin-left: 5px;
    width: calc(100% - 18px);
  }

  .list-group-item-action {

    padding: 0 0 0 0.75rem;

    .padded-content {
      padding: 0.75rem 1.25rem 0.75rem 0;
    }

    .edit-title {
      position: absolute;
      left: 9px;
      top: 8px;
      // width: calc(100% - 100px);
      width: 100%;

      input {
        padding: 0 4px;
        width: calc(100% - 89px);
      }

      button {
        background-color: white;
        color: #495057;
        border: 1px solid rgba(0, 0, 0, 0.125);
        margin-left: 3px;
      }
    }

   

    &.done {
      background-color: rgb(236, 236, 236);
      label {
        text-decoration: line-through;
      }
    }

    &.selected {
      background-color: rgb(236, 236, 236);
    }

    &:hover {
      .modify-todo {
        display: inline;
      }
    }

    .badge {
      position: absolute;
      right: 11px;
      top: 16px;
    }

    .modify-todo {
      position: absolute;
      right: 5px;
      top: 11px;
      display: none;

      button{
        background-color: white;
        color: #495057;
        border: 1px solid rgba(0, 0, 0, 0.125);

        &:first-child {
          margin-right: 3px;
        }
      }
    }
  }
}