@import "~bootstrap/scss/bootstrap";

.App {

  .btn.list-group-item {
    border: 1px solid lightgray;
    margin-bottom: -1px;
    border-radius: 0;
  }

  label {
    margin-bottom: 0;
    margin-left: 5px;
    width: calc(100% - 18px);
  }

  .list-group-item-action {
    &.done {
      background-color: lightgray;
      label {
        text-decoration: line-through;
      }
    }
  }
}





