@import "~bootstrap/scss/bootstrap";

.App {

  .btn.list-group-item {
    border: 1px solid lightgray;
    margin-bottom: -1px;
    border-radius: 0;
  }

  label {
    margin-bottom: 0;
    margin-left: 5px;
    width: calc(100% - 18px);
  }

  .list-group-item-action {
    position: relative;

    &.done {
      background-color: rgb(230, 230, 230);
      label {
        text-decoration: line-through;
      }
    }

    &:hover {
      .modify-todo {
        display: inline;
      }
    }

    .modify-todo {
      position: absolute;
      right: 11px;
      top: 11px;
      display: none;

      button{
        background-color: white;
        color: #495057;
        border: 1px solid #495057;

        &:first-child {
          margin-right: 3px;
        }
      }
    }

    
  }
}





